/*start of title page  */
#titlePage{
    height: 100vh;
    text-align: center;
    background-image: url("http://www.sarpalaw.com/wordpress/wp-content/uploads/2014/05/commence20111.jpg");
    background-size:cover; 
    margin-bottom: -0vh;
    padding-top: 110px;
}
#navbrand{
    color: rgba(242,210,53,1);
    font-weight:bold;
}
.display-1{
    color: rgba(242,210,53,1);
    font-weight: bold;
}
#text{
    font-size: 30px;
    font-weight: bold;
    color: black;
    background: rgba(255,255,255,.5);
}
#subtext{
    font-size: 26px;
    color: black;
    background: rgba(255,255,255,.5);
    font-weight: bold;
}
@media only screen and (max-width: 500px) {
    .display-1{
        font-size: 40px;
    }
    #text{
    font-size: 25px;
    }
    #subtext{
    font-size: 17px;
    }
    #navbrand{
    font-weight:normal;
    }
}
/*end of title page  */
/*start of signup page  */
#logintitle{
    padding-bottom:10px;
}
#sign-in{
    margin-bottom:10px;
}
#secondPage{
    height: 100vh;
    text-align: center;
    background-image: url(http://images.all-free-download.com/images/graphiclarge/abstract_blue_background_vector_graphic_art_569556.jpg);
    background-size:cover;
    margin-bottom: -0vh;
    padding-top: 150px;
}
@media only screen and (max-width: 500px) {
    .display-3{
        font-size: 40px;
    }
    #t2{
        font-size: 20px;
    }
    #email{
        font-size: 30px;
    }
    #password{
        font-size: 30px;
        margin-top: 10px;
    }
    #sign-in{
        margin-bottom:-10px;
    }
}
/*end of sign up page  */
/*start of q1  */
#question1{
    background-color: rgb(83, 83, 247);
    background-size:cover;
    height: 100vh;
    margin-bottom: -0vh;
    padding-top:25vh;
    text-align: center;
    
}
#q1{
    padding-bottom: 20px;
}
#nextbtn{
    font-size: 30px;
}
@media only screen and (max-width: 500px) {
    #hint1{
        font-size: 25px;
    }
    #link1{
        font-size: 20px;
    }
    #nextbtn{
        font-size: 25px;
    }
    #nobtn{
        margin-top: 15px;
    }
    #yesbtn{
        margin-top: 15px;
    }
   
}
/*end of q1  */
/*q2  */
#question2{
    background-color:rgb(83, 127, 247);
    background-size:cover;
    height: 100vh;
    margin-bottom: -0vh;
    padding-top:25vh;
    text-align: center;
}
#nextbtn2{
    font-size: 30px;
}
#q2{
    padding-bottom: 20px;
}
@media only screen and (max-width: 500px) {
    #hint2{
        font-size: 25px;
    }
    #link2{
        font-size: 20px;
    }
    #nextbtn2{
        font-size: 20px;
    }
    #nobtn2{
        margin-top: 15px;
    }
    #yesbtn2{
        margin-top: 15px;
    }
}
/*q2  */
/*q3  */
#question3{
    background-color:rgb(89, 153, 241);
    background-size:cover;
    height: 100vh;
    margin-bottom: -0vh;
    padding-top:25vh;
    text-align: center;
}
#nextbtn3{
    font-size: 30px;
}
#q3{
    padding-bottom: 20px;
}
@media only screen and (max-width: 500px) {
    #hint3{
        font-size: 25px;
    }
    #link3{
        font-size: 20px;
    }
    #nextbtn3{
        font-size: 20px;
    }
    #nobtn3{
        margin-top: 15px;
    }
    #yesbtn3{
        margin-top: 15px;
    }
}
/*q3  */
/*q4  */
#question4{
    background-color:rgb(89, 180, 241);
    background-size:cover;
    height: 100vh;
    margin-bottom: -0vh;
    padding-top:25vh;
    text-align: center;
}
#nextbtn4{
    font-size: 30px;
}
#q4{
    padding-bottom: 20px;
}
@media only screen and (max-width: 500px) {
    #hint4{
        font-size: 25px;
    }
    #link4{
        font-size: 20px;
    }
    #nextbtn4{
        font-size: 20px;
    }
    #nobtn4{
        margin-top: 15px;
    }
    #yesbtn4{
        margin-top: 15px;
    }
}
/*q4  */
/*q5  */
#question5{
    background-color:rgb(89, 206, 241);
    background-size:cover;
    height: 100vh;
    margin-bottom: -0vh;
    padding-top:25vh;
    text-align: center;
}
#nextbtn5{
    font-size: 30px;
}
#q5{
    padding-bottom: 20px;
}
@media only screen and (max-width: 500px) {
    #hint5{
        font-size: 25px;
    }
    #link5{
        font-size: 20px;
    }
    #nextbtn5{
        font-size: 20px;
    }
    #nobtn5{
        margin-top: 15px;
    }
    #yesbtn5{
        margin-top: 15px;
    }
}
/*q5  */
/*q6  */
#question6{
    background-color:rgb(89, 239, 241);
    background-size:cover;
    height: 100vh;
    margin-bottom: -0vh;
    padding-top:25vh;
    text-align: center;
}
#nextbtn6{
    font-size: 30px;
}
#q6{
    padding-bottom: 20px;
}
@media only screen and (max-width: 500px) {
    #hint6{
        font-size: 25px;
    }
    #link6{
        font-size: 20px;
    }
    #nextbtn6{
        font-size: 20px;
    }
    #nobtn6{
        margin-top: 15px;
    }
    #yesbt6{
        margin-top: 15px;
    }
}
/*q6  */
/*q7  */
#question7{
    background-color:rgb(89, 241, 216);
    background-size:cover;
    height: 100vh;
    margin-bottom: -0vh;
    padding-top:25vh;
    text-align: center;
}
#nextbtn7{
    font-size: 30px;
}
#q7{
    padding-bottom: 20px;
}
@media only screen and (max-width: 500px) {
    #hint7{
        font-size: 25px;
    }
    #link7{
        font-size: 20px;
    }
    #nextbtn7{
        font-size: 20px;
    }
    #nobtn7{
        margin-top: 15px;
    }
    #yesbtn7{
        margin-top: 15px;
    }
}
/*q7  */
/*q8  */
#question8{
    background-color:rgb(89, 241, 178);
    background-size:cover;
    height: 100vh;
    margin-bottom: -0vh;
    padding-top:25vh;
    text-align: center;
}
#q8{
    padding-bottom: 20px;
}
#nextbtn8{
    font-size: 30px;
}
@media only screen and (max-width: 500px) {
    #hint8{
        font-size: 20px;
    }
    #link8{
        font-size: 18px;
    }
    #nextbtn8{
        font-size: 20px;
    }
    #nobtn8{
        margin-top: 15px;
    }
    #yesbtn8{
        margin-top: 15px;
    }
}
/*q8  */
/*q9  */
#question9{
    background-color:rgb(89, 241, 142);
    background-size:cover;
    height: 100vh;
    margin-bottom: -0vh;
    padding-top: 25vh;
    text-align: center;
}
#nextbtn9{
    font-size: 30px;
}
#q9{
    padding-bottom: 20px;
}
@media only screen and (max-width: 500px) {
    #hint9{
        font-size: 25px;
    }
    #link9{
        font-size: 20px;
    }
    #nextbtn9{
        font-size: 20px;
    }
    #nobtn9{
        margin-top: 15px;
    }
    #yesbtn9{
        margin-top: 15px;
    }
}
/*q9  */
/*q10  */
#question10{
    background-color:rgb(89, 241, 105);
    background-size:cover;
    height: 100vh;
    margin-bottom: -0vh;
    padding-top:25vh;
    text-align: center;
}
#q10{
    padding-bottom: 20px;
}
#nextbtn10{
    font-size: 30px;
}
@media only screen and (max-width: 500px) {
    #hint10{
        font-size: 25px;
    }
    #link10{
        font-size: 20px;
    }
    #nextbtn10{
        font-size: 20px;
    }
    #nobtn10{
        margin-top: 15px;
    }
    #yesbtn10{
        margin-top: 15px;
    }
}
/*q10  */
/*q11  */
#question11{
    background-image: url(https://il9.picdn.net/shutterstock/videos/5256728/thumb/1.jpg);
    background-size:cover;
    margin-bottom: -0vh;
    padding-top:15vh;
    text-align: center;
    color:black;
}
.end{
    padding-bottom:50px;
}
@media only screen and (max-width: 500px){
    #question11{
        height: inherit;
    }
}
/*q11  */
/*q12  */
#question12{
    background-image: url(https://il9.picdn.net/shutterstock/videos/5256728/thumb/1.jpg);
    background-size:cover;
    margin-bottom: -0vh;
    text-align: center;
}
#deadlinetitle{
    padding-bottom:4px;
}
@media only screen and (max-width: 500px){
    #deadlinetitle{
        padding-top:55px;
    }
}
iframe, object, embed {
    max-width: 100%;
    padding-bottom: 25px;
}
/*q12  */
/* q13 */
#question13{
    background-image: url(https://il9.picdn.net/shutterstock/videos/5256728/thumb/1.jpg);
    background-size:cover;
    margin-bottom: -0vh;
    text-align: center;
    padding-top: 70px;
    margin: 0 auto;
}
@media only screen and (max-width: 500px){
    #question13{
        padding-top: 130px;
        margin: 0 auto;
        font-size:20px;
    }
}
/* q13 */
.navbar{
    background-color: rgba(255,255,255,.5);
    width: 100%; 
}
.footer {
    padding-top: 10px;
    padding-bottom: 3px;
    margin-top: -53px;
    color: #99979c;
    text-align: left;
    background-color: #080808;
    width: 100%;
}
.progress{
    margin: 15px;
}